@font-face {
    font-family: "PlaywriteNZ";
    src: url("./../fonts/PlaywriteNZ-Thin.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "PlaywriteNZ";
    src: url("./../fonts/PlaywriteNZ-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "PlaywriteNZ";
    src: url("./../fonts/PlaywriteNZ-Regular.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}