$primary-color: #3F51B5;
$light-primary-color: #C5CAE9;
$dark-primary-color: #303F9F;
$on-primary-color: #FFFFFF;

$accent-color: #FF4081;
$primary-text-color: #212121;
$secondary-text-color: #757575;

$font-size34: 34px;
$font-size24: 24px;
$font-size20: 20px;
$font-size16: 16px;
$font-size12: 12px;

$thin-border: 1px solid rgba(0, 0, 0, 0.5);
$border-radius10: 10px;
$border-radius5: 5px;

$padding40: 40px;
$padding20: 20px;
$padding16: 16px;
$padding10: 10px;