// Importar las fuentes
@import 'assets/scss/fonts.scss';

* {
    font-family: "PlaywriteNZ", sans-serif !important;
    font-weight: 200;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}